@import './base.css';

* {
  padding: 0px;
  margin: 0px;
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
}

html {
  background-color: var(--bg-color)
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

i {
  cursor: pointer;
}

.input-wrapper {
  width: 100%;
}

input {
  background-color: inherit;
  border: none;
  font-size: 20px;
  width: 100%;
  border-bottom: 2px solid #ffffff42;
}

button {
  background-color: inherit;
  font-size: 20px;
  border: 2px solid #ffffff42;
  color: #ffffff42;
}

input:focus {
  outline: none;
}